<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/removed.css') }}">
    <link rel="icon" type="image" href="{{ url_for('static', filename='icon.png') }}">
  </head>
  <body>
    <nav nav class="navbar-light" style="background-color: #e3f2fd;">
      <div class=container>
        <div class="row" >
          <div class="col-sm-2">
            <a class="navbar-brand justify-content-center justify-content-lg-start" href="{{ url_for('index')}}">{{header}}</a>
          </div>
          <div class="col-sm-8">
            <form method="get" class="d-flex">
              <input type="search" name="keyword" placeholder="Searched product" class="form-control me-2" value="{{ request.form['keyword'] }}">
              <button type="submit" class="btn">Find</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class=container>
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>