{% extends "base.html" %}

{% block content %}
    <br>
    {% for product in products %}
        {% if product.removed %}
            <div class="row removed" >
        {% else %}
            <div class="row" >
        {% endif %}
                <div class="col-sm-2">
                    <img src="{{product.image}}">
                </div>
                <div class="col-sm-8">
                    <b><a class="p-0 text-dark" target="_blank" href="{{ product.link }}">{{ product.name }}</a></b><br>
                    {{product.description}}<br>
                    <a type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true"
                       title="
                       {% for history_price in  product.history_price %}
                            {{ history_price[1].strftime("%Y.%m.%d %H:%M") }}: {{ history_price[0] }} р. <br>
                       {% endfor %}"
                    >
                        {{ product.history_price[-1][0] }} р.
                    </a>
                    {% if product.full_price %}|  {{product.full_price}} р.{% endif %}<br>
                    {{product.last_update.strftime("%Y.%m.%d %H:%M")}}<br>
                </div>
           </div>
    {% endfor %}
    <br>
    {% include "paginator.html" %}
{% endblock %}
