{% extends "base.html" %}

{% block content %}
    {% for product in products %}
        {% if product.removed %}
            <div class="row removed" >
        {% else %}
            <div class="row" >
        {% endif %}
                <div class="col-sm-2">
                    <img src="{{product.image}}">
                </div>
                <div class="col-sm-8">
                    <b><a class="p-0 text-dark" target="_blank" href="{{ product.link }}">{{ product.name }}</a></b><br>
                    {{product.description}}<br>
                    {{ product.history_price[-1][0] }} р. | {{product.full_price}} р.<br>
                    {{product.last_update.strftime("%Y.%m.%d %H:%M")}}
                </div>
           </div>
    {% endfor %}
    {% include "paginator.html" %}
{% endblock %}