<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Markdown{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <nav style="background-color: #e0e0e0;">
      <div class=container>
        <p class="navbar-brand">Markdown</p>
      </div>
    </nav>
    <main>
      <div class=container>
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>