{% extends "base.html" %}
{% block title %}Markdown{% endblock %}
{% block header %}Markdown{% endblock %}
{% block content %}
    <h1>Markdown</h1>
    {% for product in products %}
        <li>
            <a href="{{ product.link }}">{{ product.name }}</a><br>
            Description: {{product.description}}<br>
            Current price: {{ product.history_price[-1][0] }} | Full price: {{product.full_price}} |
            Last update: {{product.last_update}}
        </li>
    {% endfor %}
{% endblock %}